.navbar h6{
    padding-left: 1%;
    color: red;
}
nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
body{
    margin-top: 4rem;
}
footer{
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.1);
}
footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a,i{
    padding-right: 20px;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}