.navbar h6{
    padding-left: 1%;
    color: red;
}
nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
body{
    margin-top: 4rem;
}
footer{
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.1);
}
footer .links{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a,i{
    padding-right: 20px;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-info{
    margin-left: 10px;
    margin-right: 20px;
    width: 284px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(204, 201, 201);
    border-radius: 5px;
    
}
.item-info .info{
    padding-left: 10px;
}
.item-cards{
    display: flex;
}
.category-cards{
    display: flex;
}
.category-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.category-btn button{
    background-color: rgb(93, 127, 251);
    border: none;
    height: 40px;
    width: 150px;
}
.category-btn a{
    text-decoration: none;
}
.cart-btns{
    display: flex;
}
.cart-btns button{
    background-color: rgb(93, 127, 251);
    border: none;
}
.cart-btns a{
    text-decoration: none;
}
.quantity{
    padding: 10px;
}
.add-btn button{
    width: 19px;
}
.info button{
    background-color: rgb(93, 127, 251);
}
.add-to-cart-btn button{
    background-color: rgb(93, 127, 251);
    margin-left: 48%;
    border: none;
    width: 110px;
    height: 40px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.add-to-cart-btn a{
    text-decoration: none;
}
.about{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 35%;
    width: 30%;
}
.about h5{
    padding: 20px;
}
.about p{
    padding-left: 20px;
    padding-right: 10px;
}
.contact{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 35%;
    width: 30%;
}
.contact h5{
    padding: 20px;
}
.contact p{
    padding-left: 20px;
    padding-right: 10px;
}